.Page{
    background-color: white;
}
.scrollContainer{
    scrollbar-width: none;
}
.planInfo{
    gap:10px ;
}
.charteringHeader{
    gap:8% ;
    margin-left: 60px;
}
.icontab{
  margin-top: 5px;
 
 
}

.charteringItem{
    margin-right:65%;
}
.createcharteringHeader{
    gap:6% ;
    margin-left: 60px;
}
 
/* chartering header create css */
 
    .voylabeltxt{
        margin-right: 85px !important;
    }
    .voylabel1txt{
        margin-right: 74px !important;
    }
   .purchaselabeltxt{
    margin-right: 20px !important;
   }
   purchaselabel1txt{
    margin-right: 22px !important;
   }
   .paylabeltxt{
    margin-right: 13px !important;
   }
   
  /* Remove scrollbars from Dialog */
#_IDDialog > .sapMDialogCont {
    overflow: hidden !important;
}
 
/* Remove scrollbars from VBox */
.flexbox-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%; /* Ensure VBox takes up full height */
}
 
/* Remove scrollbars from FlexBox */
.flexbox {
    flex: 1;
    margin: 0 10px; /* Adjust the margin as needed */
    overflow: hidden;
}
.flex{
    margin-left: 25px;
}
.headerItem{
    gap :10px;
   
  }
  .voytext{
    margin-right: 113px;
  }
  .VoyageHeader{
    gap:8% ;
    margin-left: 60px;
  }
  .voyageHeaderItem{
    margin-top: 0% !important;
  }
  .aprrejbtn{
    margin-top: 10px !important;
  }
.labeltxt{  
    margin-right:28px !important;
    }
 .chartlabeltxt{
    margin-right: 113px !important;
 }  
/* css create by shreya */

.headerItem {
    width: 100%;
}

.labelStyle {
    width: 100%;
    text-align: right;
    margin-top: 10%;
}

.inputStyle {
    width: 60%;
    height: auto;
}